# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider (JetBrains)
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish
.publish/

# Others
*.log
*.tlog
*.cache
*.pdb
*.tmp
*.bak
*.dbmdl
*.svclog
*.vspx
*.vsps

# Windows Form Designer
#*.resx

# Git folders you might accidentally add
*.orig
*.rej
